/* line 2, ../sass/print.scss */
body.singular-orden_compra > .bg-image {
  background-image: none !important;
}
/* line 3, ../sass/print.scss */
body.singular-orden_compra header, body.singular-orden_compra footer {
  display: none;
}
/* line 7, ../sass/print.scss */
body.singular-orden_compra .main-body > .bg-image, body.singular-orden_compra .main-body > .bg-image > .bg-image {
  background-image: none !important;
}
/* line 9, ../sass/print.scss */
body.singular-orden_compra .main-body .page-orden {
  width: 99%;
}
/* line 10, ../sass/print.scss */
body.singular-orden_compra .main-body #estatus-orden-single,
body.singular-orden_compra .main-body #origen-orden-single,
body.singular-orden_compra .main-body .action-btn-single {
  display: none;
}
