/* line 1, ../sass/print.scss */
.hide_to_print,
#info-print header,
#info-print footer {
  display: none;
}

/* line 5, ../sass/print.scss */
#info-print {
  width: 100% !important;
  max-width: calc(100vw - 20px);
}
/* line 8, ../sass/print.scss */
#info-print > .bg-image,
#info-print .main-body > .bg-image {
  background-image: none !important;
}
