/* line 3, ../sass/print.scss */
body.singular-orden_compra > .bg-image,
body.page-mb-stock > .bg-image {
  background-image: none !important;
}
/* line 4, ../sass/print.scss */
body.singular-orden_compra header, body.singular-orden_compra footer,
body.page-mb-stock header,
body.page-mb-stock footer {
  display: none;
}
/* line 8, ../sass/print.scss */
body.singular-orden_compra .main-body > .bg-image, body.singular-orden_compra .main-body > .bg-image > .bg-image,
body.page-mb-stock .main-body > .bg-image,
body.page-mb-stock .main-body > .bg-image > .bg-image {
  background-image: none !important;
}
/* line 10, ../sass/print.scss */
body.singular-orden_compra .main-body .page-orden,
body.page-mb-stock .main-body .page-orden {
  width: 99%;
}
/* line 11, ../sass/print.scss */
body.singular-orden_compra .main-body #estatus-orden-single,
body.singular-orden_compra .main-body #origen-orden-single,
body.singular-orden_compra .main-body .action-btn-single,
body.page-mb-stock .main-body #estatus-orden-single,
body.page-mb-stock .main-body #origen-orden-single,
body.page-mb-stock .main-body .action-btn-single {
  display: none;
}

/* line 17, ../sass/print.scss */
body.page-mb-stock {
  width: 100% !important;
  max-width: calc(100vw - 20px);
 /* .container-info-products table { 
  width: calc(100% - 70px);
} */
}
/* line 20, ../sass/print.scss */
body.page-mb-stock #btn-ordenCompra {
  display: none;
}
/* line 21, ../sass/print.scss */
body.page-mb-stock .box-info-products {
  width: 100%;
}
