body.singular-orden_compra {
  & > .bg-image { background-image: none!important; }
  header, footer {
    display: none;
  }  
  .main-body {
    & > .bg-image,
    & > .bg-image > .bg-image { background-image: none!important; }
    .page-orden { width: 99%; }   
  }  
}