body.singular-orden_compra,
body.page-mb-stock {
  & > .bg-image { background-image: none!important; }
  header, footer {
    display: none;
  }  
  .main-body {
    & > .bg-image,
    & > .bg-image > .bg-image { background-image: none!important; }
    .page-orden { width: 99%; } 
    #estatus-orden-single,
    #origen-orden-single,
    .action-btn-single { display: none; }  
  }  
}

body.page-mb-stock {
  width: 100%!important;
  max-width: calc(100vw - 20px);
  #btn-ordenCompra { display: none; }
  .box-info-products { width: 100%; }
   /* .container-info-products table { 
    width: calc(100% - 70px);
  } */
}