.hide_to_print,
#info-print header, 
#info-print footer { display: none; }

#info-print {
  width: 100%!important;
  max-width: calc(100vw - 20px);  
  & > .bg-image,
  .main-body > .bg-image { background-image: none!important; } 
}