// Remove Focus Boxes
select:focus {
  outline: $select-focus;
}

button:focus {
  outline: none;
  background-color: $button-background-focus;
}

label {
  font-size: $label-font-size;
  color: $input-border-color;
}

@import 'input-fields';
@import 'radio-buttons';
@import 'checkboxes';
@import 'switches';
@import 'select';
@import 'file-input';
@import 'range';

.aws-search-form {
	input.aws-search-field {
	    background-color: #fff!important;
	    border-radius: 20px!important;
	    text-align: center!important;
	    border: 0px!important;
	    height: 30px!important;
	    line-height: 30px!important;		
	    padding-right: 0px!important;	
	}

}
.shadow-buscador {
	&:before, &:after {
		content: "";
		position: absolute;
		bottom: 18px;
		width: 50%;
		height: 20%;
		max-width: 300px;
		max-height: 100px;
		-webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
		box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
    }
    &:before {
		left: 20px;
		-webkit-transform: rotate(-3deg);
		-moz-transform: rotate(-3deg);
		-ms-transform: rotate(-3deg);
		-o-transform: rotate(-3deg);
		transform: rotate(-3deg);
    }
    &:after {
		right: 20px;
		-webkit-transform: rotate(3deg);
		-moz-transform: rotate(3deg);
		-ms-transform: rotate(3deg);
		-o-transform: rotate(3deg);
		transform: rotate(3deg);
    }
}

.content-icon-buscador {
	position: absolute;
	top: 5px;
    right: 10px;
    width: 55px;
    height: 22px;
    z-index: 2;
    text-align: center;
    border-left: 1px solid #000;
}