//colors
.color-primary { color: $primary-color; }
.color-light { color: $light-color; }

//image
.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &.bg-contain { background-size: contain; }
  &.bg-repeat { background-repeat: repeat; }
  &.bg-icon {
    height: 20px;
    width: 20px;
    display: inline-block
  }
  &.bg-icon-buscador {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-left: 15px;
  }
  &.bg-product {
    width: 100%;
    padding-bottom:calc(140%);
    position: relative;
    z-index: 1;
  }
  &.bg-shadow {
    width: 100%;
    height: 50px;
  }
  &.bg-new {
    width: 50px;
    height: 50px;
    position: absolute;
    right: -15px;
    top: -10px;
    margin: 0px;
    z-index: 1;
  }
  &.bg-map {
    width: 140%;
    padding-bottom: calc(150%);
    position: absolute;
    top: -25%;
    left: -25%;
    @media #{$medium-and-down} {
      top: -45%;
    }
  }
  &.bg-logo {
    width: 250px;
    padding-bottom: 50%;
    margin: auto;
    margin-top: -20px;
    @media #{$small-and-down} {
      max-width: 150px!important;
      margin-top: 0px;
    }
  }
}



.bg-absolute {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
}


.bg-footer {
  width: 100%;
  padding-bottom: 50%;
  @media #{$small-and-down}  {
    display: block!important;
  }  
  &.bg-color-foter {
    background-color: #9eb755;
  }
}
//box

.margin-auto          { margin: auto; }

.margin-top-small         { margin-top: 10px; }
.margin-top           { margin-top: 15px; }
.margin-top-large         { margin-top: 20px; }
.margin-top-xlarge        { margin-top: 25px; }
.margin-top-50        { margin-top: 50px; }
.margin-top-13p       { margin-top: 13%; }

.margin-bottom-xsmall       { margin-bottom: 5px; }
.margin-bottom-small      { margin-bottom: 10px; }
.margin-bottom          { margin-bottom: 15px; }
.margin-bottom-large      { margin-bottom: 20px; }
.margin-bottom-xlarge       { margin-bottom: 25px; }
.margin-bottom-50       { margin-bottom: 50px; }
.margin-bottom--15p       { margin-bottom: -15%; }
.no-margin-bottom       { margin-bottom: 0px; }

.margin-top-bottom-small    { margin-top: 10px; margin-bottom: 10px; }
.margin-top-bottom        { margin-top: 15px; margin-bottom: 15px; }
.no-margin-top-bottom        { margin-top: 0px; margin-bottom: 0px; }

.margin-right-xsmall       { margin-right: 5px; }
.margin-right-small       { margin-right: 10px; }
.margin-right           { margin-right: 15px; }
.margin-right-large       { margin-right: 20px; }
.margin-right-xlarge      { margin-right: 25px; }

.margin-left-xsmall        { margin-left: 5px; }
.margin-left-small        { margin-left: 10px; }
.margin-left          { margin-left: 15px; }
.margin-left-large        { margin-left: 20px; }
.margin-left-xlarge       { margin-left: 25px; }
.margin-left-15p         { margin-left: 15%; }
.margin-left--15p         { margin-left: -15%; }

@media #{$small-and-down} {
  .margin-bottom-25p-s { margin-bottom: 25%;}
}

.no-padding           { padding: 0px; }

.padding-top-small        { padding-top: 10px; }
.padding-top              { padding-top: 15px; }
.padding-top-large        { padding-top: 20px; }
.padding-top-xlarge       { padding-top: 25px; }

.padding-bottom-small       { padding-bottom: 10px; }
.padding-bottom         { padding-bottom: 15px; }
.padding-bottom-large       { padding-bottom: 20px; }
.padding-bottom-xlarge      { padding-bottom: 25px; }
.padding-bottom-20p      { padding-bottom: 20%; }
.padding-bottom-30p      { padding-bottom: 30%; }
.padding-bottom-40p      { padding-bottom: 40%; }
.padding-bottom-49p      { padding-bottom: 49%; }
.padding-bottom-54p      { padding-bottom: 54%; }
.padding-bottom-60p      { padding-bottom: 60%; }
.padding-bottom-75p      { padding-bottom: 75%; }

.padding-right-small      { padding-right: 10px; }
.padding-right          { padding-right: 15px; }
.padding-right-large      { padding-right: 20px; }
.padding-right-xlarge       { padding-right: 25px; }

.padding-left-small       { padding-left: 10px; }
.padding-left           { padding-left: 15px; }
.padding-left-large       { padding-left: 20px; }
.padding-left-xlarge      { padding-left: 25px; }

.padding-top-bottom-xsmall    { padding-top: 5px!important; padding-bottom: 5px!important; }
.padding-top-bottom-small     { padding-top: 10px!important; padding-bottom: 10px!important; }
.padding-top-bottom       { padding-top: 15px!important; padding-bottom: 15px!important; }
.padding-top-bottom-large     { padding-top: 20px!important; padding-bottom: 20px!important; }
.padding-top-bottom-xlarge    { padding-top: 25px!important; padding-bottom: 25px!important; }

//size
.width-100p     { width: 100%; }
.width-60p      { width: 60%; }
.width-30p      { width: 30%; }
.width-25p      { width: 25%; }
.width-20p      { width: 20%; }

.max-width-100p { max-width: 100%; }

//Position
.absolute { position: absolute; }
.relative { position: relative; }

.right-0          { right: 0; }
.right-20         { right: 20px; }
.right-60         { right: 60px; }
.right-10p        { right: 10%; }
.right--10p       { right: -10%; }
.right--20        { right: -20px; }

.left-0           { left: 0; }
.left-20          { left: 20px; }
.left-5p          { left: 5%; }
.left-15p         { left: 15%; }
.left-35p         { left: 35%; }
.left-50p         { left: 50%; }

.top-0            { top: 0; }
.top-100          { top: 100px; }
.top--60          { top: -60px; }
.top-4p          { top: 4%; }
.top-20p          { top: 20%; }
.top--15p         { top: -15%; }
.top--20p         { top: -20%; }
.top--40p         { top: -40%; }
.top--60p         { top: -60%; }

@media #{$small-and-down} {
  .top-20-s            { top: 20px; }
}

.bottom-0         { bottom: 0; }
.bottom-30        { bottom: 30px; }
.bottom--50       { bottom: -50px; }
.bottom--10p      { bottom: -10%; }
.bottom--15p      { bottom: -15%; }
.bottom-15p       { bottom: 15%; }
.bottom-20p       { bottom: 20%; }
.bottom-30p       { bottom: 30%; }

@media #{$small-and-down} {
  .bottom-40p-s      { bottom: 40%; }
}

.rotate--180 { transform: rotate(-180deg); }

//display
.block { display: block; }
.inline-block { display: inline-block; }

.overflow-hide { overflow: hidden;}

.z-index-1 { z-index: 1; }
.z-index--1 { z-index: -1; }

.rotate-45 { transform: rotate(45deg); }
.rotate-90 { transform: rotate(90deg); }
.rotate-135 { transform: rotate(135deg); }
.rotate-180 { transform: rotate(180deg); }

//align
.text-center { text-align: center; } 
.text-left { text-align: left; }
.text-right { text-align: right; }

.alight-middle { vertical-align: middle; }

@media #{$small-and-down} {
  .text-center-s { text-align: center; } 
}

//border 

// Shadow

.shadow-products {
  width: 90%;
  margin: 20px auto;
  box-shadow: -2px 8px 6px 3px rgba(0, 0, 0, 0.1);
  &.shadow-menu {
    width: 70%;
  }
}



.img-caracteristicas {
    margin: auto;
    width: 60%;
    padding-bottom: calc(35%);
    .shadow-products {
      border-top: 3px solid rgba(0,0,0,0.1);
    }
}

.indicaciones-producto {
  position: absolute;
  width: 100%;
  bottom: 0px;
  transform: translateY(-30%);
  z-index: 1;
  @media #{$medium-and-down} {
    transform: translateY(-10%);
  }
  @media (min-width: 350px) and (max-width:399px){
    transform: translateY(-15%);
  }
  @media (min-width: 400px) and (max-width:449px){
    transform: translateY(-20%);
  }
  @media (min-width: 450px) and (max-width: 600px){
    transform: translateY(-30%);
  }
  @media (min-width: 601px) and (max-width:849px){
    transform: translateY(-5%);
  }
  @media (min-width: 850px) and (max-width: 992){
    transform: translateY(-10%);
  }
  .content-indicaciones {
    .box-indicacion {
      display: inline-block;
      vertical-align: top;
      width: 18%;
      padding: 0 5px;
      @media #{$small-and-down} {
        width: 30%;
        font-size: 13px;
      }
      .img-indicaciones {
        margin: auto;
        max-width: 100%;
        width: 40px;
        height: 50px;        
        @media #{$small-and-down} {
          width: 30px;
          height: 50px;
        }
      }
      p {
        margin: 0;
      }       
    }   
  }
}


.content-map {
  border: 15px solid $primary-color;
  width: calc(100% - 21px); 
  iframe {
    height: 300px;
    width: 100%;
    margin-bottom: -5px;
    @media #{$small-and-down} {
      height: 250px;
    }
    @media (max-width: 400px) {
      height: 200px;
    }
  }
}

.featured-products {
  @media (min-width: 601px) and (max-width: 850px) {
    .col-product:nth-child(7),
    .col-product:nth-child(8) {
      display: none;
    }
  }
}