//colors
.color-primary { color: $primary-color; }
.color-light { color: $light-color; }

//image
.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &.bg-contain { background-size: contain; }
  &.bg-repeat { background-repeat: repeat; }
  &.bg-icon {
    height: 20px;
    width: 20px;
    display: inline-block
  }
  &.bg-icon-buscador {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-left: 15px;
  }
  &.bg-product {
    width: 100%;
    padding-bottom:calc(140%);
    position: relative;
    z-index: 1;
  }
  &.bg-shadow {
    width: 100%;
    height: 50px;
  }
  &.bg-new {
    width: 50px;
    height: 50px;
    position: absolute;
    right: -15px;
    top: -10px;
    margin: 0px;
    z-index: 1;
  }
}



.bg-absolute {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
}

//box

.margin-auto          { margin: auto; }

.margin-top-small         { margin-top: 10px; }
.margin-top           { margin-top: 15px; }
.margin-top-large         { margin-top: 20px; }
.margin-top-xlarge        { margin-top: 25px; }
.margin-top-50        { margin-top: 50px; }

.margin-bottom-xsmall       { margin-bottom: 5px; }
.margin-bottom-small      { margin-bottom: 10px; }
.margin-bottom          { margin-bottom: 15px; }
.margin-bottom-large      { margin-bottom: 20px; }
.margin-bottom-xlarge       { margin-bottom: 25px; }
.margin-bottom--15p       { margin-bottom: -15%; }
.no-margin-bottom       { margin-bottom: 0px; }

.margin-top-bottom-small    { margin-top: 10px; margin-bottom: 10px; }
.margin-top-bottom        { margin-top: 15px; margin-bottom: 15px; }
.no-margin-top-bottom        { margin-top: 0px; margin-bottom: 0px; }

.margin-right-xsmall       { margin-right: 5px; }
.margin-right-small       { margin-right: 10px; }
.margin-right           { margin-right: 15px; }
.margin-right-large       { margin-right: 20px; }
.margin-right-xlarge      { margin-right: 25px; }

.margin-left-xsmall        { margin-left: 5px; }
.margin-left-small        { margin-left: 10px; }
.margin-left          { margin-left: 15px; }
.margin-left-large        { margin-left: 20px; }
.margin-left-xlarge       { margin-left: 25px; }
.margin-left-15p         { margin-left: 15%; }
.margin-left--15p         { margin-left: -15%; }

@media #{$small-and-down} {
  .margin-bottom-25p-s { margin-bottom: 25%;}
}

.no-padding           { padding: 0px; }

.padding-top-small        { padding-top: 10px; }
.padding-top              { padding-top: 15px; }
.padding-top-large        { padding-top: 20px; }
.padding-top-xlarge       { padding-top: 25px; }

.padding-bottom-small       { padding-bottom: 10px; }
.padding-bottom         { padding-bottom: 15px; }
.padding-bottom-large       { padding-bottom: 20px; }
.padding-bottom-xlarge      { padding-bottom: 25px; }

.padding-right-small      { padding-right: 10px; }
.padding-right          { padding-right: 15px; }
.padding-right-large      { padding-right: 20px; }
.padding-right-xlarge       { padding-right: 25px; }

.padding-left-small       { padding-left: 10px; }
.padding-left           { padding-left: 15px; }
.padding-left-large       { padding-left: 20px; }
.padding-left-xlarge      { padding-left: 25px; }

.padding-top-bottom-xsmall    { padding-top: 5px!important; padding-bottom: 5px!important; }
.padding-top-bottom-small     { padding-top: 10px!important; padding-bottom: 10px!important; }
.padding-top-bottom       { padding-top: 15px!important; padding-bottom: 15px!important; }
.padding-top-bottom-large     { padding-top: 20px!important; padding-bottom: 20px!important; }
.padding-top-bottom-xlarge    { padding-top: 25px!important; padding-bottom: 25px!important; }

//size
.width-100p     { width: 100%; }
.width-60p      { width: 60%; }
.width-30p      { width: 30%; }
.width-25p      { width: 25%; }
.width-20p      { width: 20%; }

.max-width-100p { max-width: 100%; }

//Position
.absolute { position: absolute; }
.relative { position: relative; }

.right-0          { right: 0; }
.right-20         { right: 20px; }
.right-60         { right: 60px; }
.right-10p        { right: 10%; }
.right--10p       { right: -10%; }
.right--20        { right: -20px; }

.left-0           { left: 0; }
.left-20          { left: 20px; }
.left-5p          { left: 5%; }
.left-15p         { left: 15%; }
.left-35p         { left: 35%; }

.top-0            { top: 0; }
.top-100          { top: 100px; }
.top--60          { top: -60px; }
.top-20p          { top: 20%; }
.top--15p         { top: -15%; }
.top--20p         { top: -20%; }

@media #{$small-and-down} {
  .top-20-s            { top: 20px; }
}

.bottom-0         { bottom: 0; }
.bottom-30        { bottom: 30px; }
.bottom--50       { bottom: -50px; }
.bottom--10p      { bottom: -10%; }
.bottom--15p      { bottom: -15%; }
.bottom-15p       { bottom: 15%; }
.bottom-20p       { bottom: 20%; }
.bottom-30p       { bottom: 30%; }

.rotate--180 { transform: rotate(-180deg); }

//display
.block { display: block; }
.inline-block { display: inline-block; }

.overflow-hide { overflow: hidden;}

.z-index--1 { z-index: -1; }

//align
.text-center { text-align: center; } 
.text-left { text-align: left; }
.text-right { text-align: right; }

.alight-middle { vertical-align: middle; }

@media #{$small-and-down} {
  .text-center-s { text-align: center; } 
}

//border 

// Shadow

.shadow-products {
  width: 90%;
  margin: 20px auto;
  box-shadow: -2px 8px 6px 3px rgba(0, 0, 0, 0.1);
  &.shadow-menu {
    width: 70%;
  }
}



.img-caracteristicas {
    margin: auto;
    width: 60%;
    padding-bottom: calc(35%);
    .shadow-products {
      border-top: 3px solid rgba(0,0,0,0.1);
    }
}

.indicaciones-producto {
  position: absolute;
  width: 100%;
  bottom: 30px;
  .img-indicaciones {
    width: 80px;
    height: 70px;
    display: inline-block;
    vertical-align: middle;
    @media #{$small-and-down} {
      width: 40px;
      height: 50px;
      margin-left: 5px;
      margin-right: 5px;
    }
    &.img-large {
      width: 90px;
      @media #{$small-and-down} {
        width: 60px;
      }
    }
  }
}

.img-map {
    max-width: 140%;
    margin-left: -20%;
    margin-top: -30%;
}
.content-map {
  border: 15px solid $primary-color;
  position: absolute;
  top: 0px;
  width: calc(100% - 21px); 
  iframe {
    height: 300px;
    width: 100%;
    margin-bottom: -3px;
  }
}